*~
*.class
*.ser
*.rs
CodeGUI/GenAMap/data/*
CodeGUI/GenAMap/build/*
CodeGUI/GPLClasses/build/*
CodeGUI/JUNGGraphFix/build/*
CodeGUI/libraries/javastat/build/*
CodeGUI/GenAMap/dist/*
CodeGUI/GPLClasses/dist/*
CodeGUI/JUNGGraphFix/dist/*
CodeGUI/libraries/javastat/dist/*
CodeGUI/GenAMap/temp1.txt
CodeGUI/GenAMap/temp_parm.txt
CodeServerService/dist/*
Documentation/QuickOverview.pdf
Documentation/SettingUpGenAMap.pdf
Documentation/AlgorithmsGuide/AlgorithmsGuide.aux
Documentation/AlgorithmsGuide/AlgorithmsGuide.bbl
Documentation/AlgorithmsGuide/AlgorithmsGuide.blg
Documentation/AlgorithmsGuide/AlgorithmsGuide.log
Documentation/AlgorithmsGuide/AlgorithmsGuide.pdf
Documentation/AlgorithmsGuide/AlgorithmsGuide.out
Documentation/AlgorithmsGuide/AlgorithmsGuide.toc
Documentation/AlgorithmsGuide/AlgorithmsGuide.synctex.gz
Documentation/DataImportingGuide/DataImportingGuide.aux
Documentation/DataImportingGuide/DataImportingGuide.log
Documentation/DataImportingGuide/DataImportingGuide.pdf
Documentation/DataImportingGuide/DataImportingGuide.out
Documentation/DataImportingGuide/DataImportingGuide.toc
Documentation/DataImportingGuide/DataImportingGuide.synctex.gz
Documentation/Introduction/IntroductionToGenAMap.aux
Documentation/Introduction/IntroductionToGenAMap.log
Documentation/Introduction/IntroductionToGenAMap.pdf
Documentation/Introduction/IntroductionToGenAMap.out
Documentation/Introduction/IntroductionToGenAMap.toc
Documentation/Introduction/IntroductionToGenAMap.synctex.gz
Documentation/SetupGuide/SettingUpGenAMap.aux
Documentation/SetupGuide/SettingUpGenAMap.log
Documentation/SetupGuide/SettingUpGenAMap.pdf
Documentation/SetupGuide/SettingUpGenAMap.out
Documentation/SetupGuide/SettingUpGenAMap.toc
Documentation/SetupGuide/SettingUpGenAMap.synctex.gz
Algorithms/association/bin/*
Algorithms/clustering/obj/*
Algorithms/clustering/bin/*
Algorithms/genemods/bin/*
Algorithms/gGFlasso/obj/*
Algorithms/gGFlasso/bin/*
Algorithms/GLasso/bin/*
Algorithms/MPGLB/bin/*
Algorithms/NetworkConnComps/conncomp.jar
Algorithms/NetworkConnComps/network/*.class
Algorithms/networking/bin/*
Algorithms/plink/*.o
Algorithms/plink/plink
Algorithms/QTL_unused/bin/*
Algorithms/structure/algorithm/*.o
Algorithms/structure/algorithm/structure
Algorithms/structure/front_back/bin/*
