*~
*.class
*.ser
*.rs
CodeGUI/GenAMapMain/data/*
CodeGUI/GenAMapMain/build/*
CodeGUI/GenAMapDist/build/*
CodeGUI/GenAMapData/build/*
CodeGUI/GenAMapVisualization/build/*
CodeGUI/GPLClasses/build/*
CodeGUI/JUNGGraphFix/build/*
CodeGUI/libraries/javastat/build/*
CodeGUI/GenAMapMain/dist/*
CodeGUI/GenAMapDist/dist/*
CodeGUI/GenAMapData/dist/*
CodeGUI/GenAMapVisualization/dist/*
CodeGUI/GPLClasses/dist/*
CodeGUI/JUNGGraphFix/dist/*
CodeGUI/libraries/javastat/dist/*
CodeServerService/dist/*
